/* Reset CSS Padrão */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Remover estilos de listas */
ul[class],
ol[class] {
  list-style: none;
}

/* Imagens e mídia */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Corpo do documento */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* Formulários */
button,
input,
select,
textarea {
  background: none;
  border: none;
  font: inherit;
  color: inherit;
  outline: none;
}

/* Títulos */
h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: normal;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}

/* Tabelas */
table {
  border-collapse: collapse;
  border-spacing: 0;
}