<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
rel="stylesheet"/>
<link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}"
rel="stylesheet"/>

    <link  href="@{css\reset.css}" rel="stylesheet">
    <link th:href="@{\css\home.css}" rel="stylesheet">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loja Aguiar</title>
</head>
<body>
    <div class="display_inicial">
        <nav class="nav-buttons">
            <h1>Aguiar - Artigos de Pesca</h1>
            <div>
                <a href="/home">HOME</a>
                <a href="/produtos">PRODUTOS</a>
                <a href="/cadastro">CADASTRO/LOGIN</a>
                <a href="https://www.instagram.com/joaopedroaguiarde/" target="_blank">INSTAGRAM</a>
            </div>
        </nav>
    </div>
    <div class="info">
        <h2>Sobre nós</h2>
            <p>A Aguiar – Artigos de Pesca nasceu da paixão pela pesca esportiva e do desejo de compartilhar essa experiência única com outros pescadores. Para nós, a pesca vai muito além de capturar peixes: é sobre contato com a natureza, momentos de tranquilidade, desafios que testam a paciência e a técnica, além da emoção de cada fisgada.</p>
            <p>Nosso objetivo é oferecer produtos de qualidade, que atendam tanto aos iniciantes quanto aos pescadores mais experientes. Trabalhamos com uma ampla linha de varas, molinetes, carretilhas, linhas, iscas e acessórios, sempre buscando trazer novidades e equipamentos que tornem cada pescaria mais prazerosa e produtiva.</p>
            <p>Acreditamos que a pesca esportiva é um estilo de vida: uma forma de lazer saudável, de respeito ao meio ambiente e de valorização das boas histórias que nascem à beira da água. É por isso que, além de vender artigos de pesca, queremos ser parte da sua jornada, ajudando você a viver experiências inesquecíveis.</p>
            <p>Na Aguiar, cada produto é escolhido pensando em quem compartilha da mesma paixão que nos move: a emoção de pescar.</p>
    </div>







    
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>