<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
    
    <link th:href="@{\css\home.css}" rel="stylesheet">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loja Aguiar</title>
</head>
<body>
    <div class="display_inicial">
        <nav class="nav-buttons">
            <h1>Aguiar - Artigos de Pesca</h1>
            <div>
                <a href="/home">HOME</a>
                <a href="/produtos">PRODUTOS</a>
                <a href="/cadastro">CADASTRO/LOGIN</a>
                <a href="https://www.instagram.com/joaopedroaguiarde/" target="_blank">INSTAGRAM</a>
                <a href="/login">LOGIN</a>
                <a href="/cadastroproduto">NOVO PRODUTO</a>
            </div>
        </nav>
    </div>

    <h1>Produtos Disponíveis</h1>
    <div th:each="p : ${produtos}">
        <h2 th:text="${p.name}"></h2>
        <p th:text="${p.descricao}"></p>
        <span th:text="${p.price}"></span>
        <hr>
    </div>
</body>
</html>

